@import url('https://fonts.googleapis.com/css2?family=Coustard:wght@400;900&display=swap');

body {
  margin: 0;
  font-family: "Coustard", serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Coustard", serif;
}